// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#area_bassa_sinistra {
  font-size: 1.7em;
  color: #055;
  background-color:rgba(200,200,200,0.8);
  font-weight: bold;
  height: 200px;
}

#area_bassa_destra {
  font-size: 0.8em;
  color: #f33;
  background-color:rgba(210,210,210,0.8);
  font-weight: normal;
  height: 200px;
}


#centrale {
   height: 300px;    
}
    